body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  background: #fffdf4;
  color: #331C10;
}

main {
  padding: 10px;
}

h2 {
  color: #672c8f;
  margin-top: 0;
  font-size: 3vw;
}

a {
  color: #672c8f;
  margin-top: 0;
}

.long-neck-top {
  width: 50vw;
  display: block;
  margin: 1vh auto;
}

#poem-whole {
  background: linear-gradient(to right, #f5c241, #eda941);
  border-radius: 9px;
  padding: 10px;
}

.poem-head {
  background-color: #fffdf4;
  border-radius: 9px;
  flex-direction: row;
  padding: 1vw 2vw;
}

.poem-head p {
  font-weight: 400;
  font-size: 2vw;
  margin: 0;
}

.poem {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

#tribute-info {
  margin-top: 20px;
}

#tribute-info li {
  margin-bottom: 10px;
}

#tribute-link {
  float: right;
}

#img-div {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

#image {
  display: block;
  width: 40vw;
  margin: 0 auto;
  border: solid 6px #eda941;
  border-radius: 9px;
}

#img-caption {
  text-align: center;
  font-size: 0.7em;
}

footer {
  clear: right;
}

.long-neck-bottom {
    width: 50vw;
    display: block;
    margin: 1vh auto;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

footer p {
  text-align: center;
}

@media screen and (max-width : 575.98px) {

  h2 {
    font-size: 5vw;
  }
  
  a {
    font-size: 12px;
  }
  
  .long-neck-top {
    width: 70vw;
  }
  
  .poem-head p {
    font-size: 4vw;
  }

  .poem {
    flex-direction: column;
  }
  
  .poem p {
    font-size: 14px;
  }
  
  #img-div {
   float: none;
   display: block;
   margin: 0 auto;
  }
  
  #image {
    width: 100vw;
    border: solid 2px #eda941;
  }
  
  #tribute-info ul {
    font-size: 14px;
    padding-top: 10px;
  }
  
  .long-neck-bottom {
    width: 70vw;
  }
  
  footer p {
    font-size: 10px;
  }

}